:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
 
form {
  width: 400px;
}
.form-control:focus{
  outline: 0;
  box-shadow: none;
  border-color: var(--primary);
}
.search-wrapper.searchWrapper {
  min-height: 38px;
}
.border-danger {
  .search-wrapper.searchWrapper {
    border: 1px solid #ff1212;
  }
}
[readonly] {
  background: transparent !important;
 
  &.form-control:focus {
    user-select: none;
    border: 1px solid #ced4da !important;
  }
}
.red {
  color: red;
}
.form-control {
 
  border: 1px solid #ced4da;
 
 
}
 
.form-control.border-danger {
 
  border-color: #dc3545;
}